body {font-family:tahoma, helvetica, arial, sans-serif; font-size:10px; text-align:center; background:url(../images/page_bg.gif)}
html, body, #wrapper, h1 {margin:0;padding:0}
th, td {font-size:10px}
img {border:0}
.fleft {float:left}
.fright {float:right}
.fclear {clear:both}
#wrapper {margin:auto;text-align:left;width:1000px;position:relative}
h1, h2, h3 {font-size:10px}
h1 {margin:0;padding:0}
h2 {margin:0 0 5px 0;padding:0}
h3 {padding:4px 0 0 0}
.block {display:block}
.clear {clear:both;height:2px;padding-top:0;margin-top:0;margin-bottom:3px;font-size:1px}
.left {float:left;margin:1px 8px 0 0}
.softright {text-align:right}
.readmore {text-align:right}
#inner {border-left:2px solid #fff;border-right:2px solid #fff;background:white;color:black;margin-bottom:10px}
#header {background:url(../images/header_bg.gif) repeat-x;padding-top:9px;position:relative; border:solid #000 1px;}
#header img {display:block}
#nav {position:absolute;/*left:550px;*/left: 777px; top:40px;width:200px}
#nav, #nav a {color:white;font-weight:bold;text-decoration:none}
#nav a:hover {text-decoration:underline}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
#browse {float:left;width:195px;margin:0;padding:0;background:white;border-bottom:2px solid white}
#browse dt {background:#c80000 url(../images/dt_bg.gif) bottom repeat-x;color:#fff;margin:2px 2px 1px 2px;padding:6px 0;text-align:center;font-weight:bold}
#browse dd {background:#227293;border-bottom:1px solid #659db4;padding:0;margin:0 2px}
#browse dd a {color:white;font-weight:bold;text-decoration:none;display:block;padding:3px 22px}
* html #browse dd {padding:3px 22px;padd\ing:0}
* html #browse dd a {display:inline;di\splay:block}
#browse dd a:hover {background:#74a7b7}
#browse .first {padding-top:10px}
#browse .last {padding-bottom:8px;border-bottom:1px solid white}
#browse .searchform {padding:10px}
#browse .text, #browse select {width:160px}
#browse form {margin:0;padding:0}
#browse form div {padding-bottom:8px;width:165px}
#body {float:left;width:543px;margin:2px 1px 0 0;border:1px solid #e5e5e5;position:relative}
#body p {margin:1em 0;padding:0}
#body .leftbox, #body .rightbox {margin-top:5px;color:#464646}
#body .leftbox {float:left;width:250px}
#body .rightbox {float:right;width:252px;margin-right:18px;border-left:1px solid #e5e5e5}
* html #body .rightbox {margin-right:10px}
#body .br {border-bottom:1px solid #e5e5e5}
#body .readmore {margin-top:-0.5em;margin-bottom:0;padding-bottom:0}
#body .readmore a {color:#ad1c1c}
#body .readmore a:hover {color:#f73838}
#body h3 {text-align:center;font-family:"Keble Condensed", "KebleCondensed", "arial narrow", helvetica, arial, sans-serif;font-size:15px;font-weight:normal;color:#5d5d5d;padding:0 0 0 18px;margin:1px 0 3px 0}
#footer {background:#c80000 url(../images/footer_bg.gif) repeat-x;padding:4px;position:relative;text-align:center;border-bottom:2px solid white}
#footer, #footer a {font-weight:bold;color:white;text-decoration:none}
#footnav {text-align:center;padding:8px 0 5px 0}


/*untuk setflash*/

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:green !important;
}